@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-border {
    border-color: theme("colors.border");
  }
  .text-foreground {
    color: theme("colors.foreground");
  }
  .text-muted {
    color: theme("colors.muted");
  }
  .bg-card {
    background-color: theme("colors.card");
  }
  .text-primary {
    color: theme("colors.primary");
  }
  .bg-primary {
    background-color: theme("colors.primary");
  }
}
